<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="/static/table.css">
        <title>Web Route</title>
    </head>
    <body>
        <header>
            <span>Web Route</span>
        </header>
        <div>
            <table id="table">
                <tr><th>This table is</th><th>only to train</th></tr>
                <tr><td>Filler</td><td>Filler</td></tr>
                <tr><td>Filler</td><td>Filler</td></tr>
                <tr><td>Filler</td><td>Filler</td></tr>
            </table>
            <form method="POST">
                <input class="input-name" type="text" name="name" placeholder="Name" required>
                <input type="submit" name="login" class="login-form-btn" value="login">
            </form>
        </div>

    </body>
</html>
